.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 1;
  display: flex;
  padding: 20px 60px;
  background-color: #111111;
  box-sizing: border-box;
  justify-content: space-between;

  /* Animation */
  transition-timing-function: ease-in;
  transition: all 0.5s;

}

.navbar-links {
  list-style-type: none;
  display: flex;
}

.navbar-link {
  margin-right: 20px;
  color: #fff;
  cursor: pointer;
}

.navbar-link:last-child {
  margin-right: 0;
}

.nav_black {
  background-color: #111;
}

.nav_logo_img {
  height: 30px;
  object-fit: contain;
}

.nav_avatar_img {
  height: 30px;
  object-fit: contain;
}